- @page_title = "Admin Menu"
.menu
  %h2 SAS Gold Control Panel
  .identity
    Logged in as: #{session[:username]}
  %ul
    %li= link_to("Manage Admin Users", admin_admin_users_path, class: 'btn btn-primary')
    %li= link_to("Manage News", admin_news_items_path, class: 'btn btn-primary')
    %li= link_to("Manage Events", admin_event_items_path, class: 'btn btn-primary')
    %li= link_to("Manage Directors and Management", admin_staff_entries_path, class: 'btn btn-primary')
    %li= link_to("Manage Reports, Photos, Maps, Presentations", admin_file_entries_path, class: 'btn btn-primary')
    %li= link_to("Manage Reserves and Resources", admin_mineral_data_path, class: 'btn btn-primary')
    %li= link_to("Logout", :action => 'logout', class: 'btn btn-primary')
