%table{:summary => "Carousel Images form fields"}
	%tr
		%th= f.label(:position "position")
		%td= f.text_field :position
	%tr
		%th= f.label(:image, "Image")
		%td= f.file_field :image
	%tr
		%th= f.label(:title "Title")
		%td= f.text_field :position
	%tr
		%th= f.label(:description "Description")
		%td= f.text_field :description