- @page_title = "Headers"
= link_to("Back to admin menu", admin_path, :class => 'btn btn-primary')
%br
%br
.news.index
  = link_to("Add new header (not recommended)", {:action => 'new'}, :class => 'btn btn-success') 
  
  %table.admintable{:summary => "Headers"}
    %tr.header
      %th ID;
      %th Location
      %th Content
      %th Actions
    - @headers.each do |header|
      %tr{:class => cycle('odd', 'even')}
        %td= header.id
        %td= header.name
        %td= header.content
        %td.actions
          = link_to("Edit", edit_admin_header_path(header), class: "btn btn-primary")
          = link_to("Delete", delete_admin_header_path(header), class: "btn btn-danger")


