- @page_title = "News"
= link_to("Back to admin menu", admin_path, :class => 'btn btn-primary')
%br
%br
.news.index
	= link_to("Add new Data (not recommended)", {:action => 'new'}, :class => 'btn btn-success') 
	
	%table.admintable{:summary => "Article list"}
		%tr.header
			%th ID;
			%th Mine Name
			%th Data Type
			%th proven tonnes
			%th proven grade
			%th proven ounces
			%th probable tonnes
			%th probable grade
			%th probable ounces
			%th proven/probable tonnes
			%th proven/probable grade
			%th proven/probable ounces
			%th Actions
		- @mineraldata.each do |mineraldata|
			%tr{:class => cycle('odd', 'even')}
				%td= mineraldata.id
				%td= mineraldata.mine_name
				%td= mineraldata.data_type
				%td-if mineraldata.mine_data
				- mineraldata.mine_data.each do |dataentry|
					%td= dataentry
				%td.actions
					= link_to("Show", admin_mineral_datum_path(mineraldata), class: "btn btn-primary")
					= link_to("Edit", edit_admin_mineral_datum_path(mineraldata), class: "btn btn-primary")
					= link_to("Delete", delete_admin_mineral_datum_path(mineraldata), class: "btn btn-danger")


