%ul.sidebar-nav
	%li= link_to("Admin Menu", admin_path)
	%li= link_to("Admin Users", admin_admin_users_path)
	%li= link_to("News", admin_news_items_path)
	%li= link_to("Events", admin_event_items_path)
	%li= link_to("Directors and Management", admin_staff_entries_path)
	%li= link_to("File Uploads", admin_file_entries_path)
	%li= link_to("Reserves and Resources", admin_mineral_data_path)
	%li= link_to("Headers", admin_headers_path)
	%li= link_to("Images for Contents", admin_icontents_path)
	%li= link_to("Text Contents", admin_tcontents_path)
	%li= link_to("Home Page Carousel", admin_carousel_images_path)