.navbar.navbar-sas{:role => "navigation"}
	.navbar-header
		%button.navbar-toggle.collapsed{"data-target" => "#collapse-1", "data-toggle" => "collapse", :type => "button"}			
			%span.sr-only Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		.brand St. Andrew Goldfields Ltd.
	#collapse-1.collapse.navbar-collapse
		%ul.nav.navbar-nav-sq.navbar-right.mainnav.pull-right
			%li.navbutton= link_to "Home", controller: "public", action: "index"
			///////CORPORATE////////
			%li.dropdown.navbutton
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "profile"}
					Corporate
					%span.caret
				%ul.dropdown-menu{:role => "menu"}
					%li.lmenuitem.dropdown_listbutton= link_to "profile", controller: "public", action: "profile"
					%li.lmenuitem.dropdown_listbutton= link_to "directors", controller: "public", action: "directors"
					%li.lmenuitem.dropdown_listbutton= link_to "management", controller: "public", action: "management"
					%li.lmenuitem.dropdown_listbutton= link_to "corp", controller: "public", action: "profile"
					%li.lmenuitem.dropdown_listbutton= link_to "profile", controller: "public", action: "profile"
			///////OPERATIONS////////
			%li.dropdown.navbutton
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "timmins"}
					Operations
					%span.caret
				%ul.dropdown-menu{:role => "menu"}
					%li.lmenuitem.dropdown_listbutton= link_to "Timmins", controller: "public", action: "timmins"
					%li.lmenuitem.dropdown_listbutton= link_to "History", controller: "public", action: "history"
					%li.lmenuitem.dropdown_listbutton= link_to "Regional Geology", controller: "public", action: "regional_geo"
					%li.lmenuitem.dropdown_listbutton= link_to "Holt Mine", controller: "public", action: "holt_mine"
					%li.lmenuitem.dropdown_listbutton= link_to "Holloway Mine", controller: "public", action: "holloway_mine"
					%li.lmenuitem.dropdown_listbutton= link_to "Hislop Mine", controller: "public", action: "hislop_mine"
					%li.lmenuitem.dropdown_listbutton= link_to "Holt Mill", controller: "public", action: "holt_mill"
					%li.lmenuitem.dropdown_listbutton= link_to "Exploration", controller: "public", action: "exploration"
					%li.lmenuitem.dropdown_listbutton= link_to "Advanced Projects", controller: "public", action: "adv_projects"
					%li.lmenuitem.dropdown_listbutton= link_to "Regional Exploration", controller: "public", action: "regional_exp"
					%li.lmenuitem.dropdown_listbutton= link_to "Reserves / Resources", controller: "public", action: "reserves_resources"
					%li.lmenuitem.dropdown_listbutton= link_to "Technical Reports", controller: "public", action: "tech_reports"
					%li.lmenuitem.dropdown_listbutton= link_to "Gallery", controller: "public", action: "gallery"
			///////Investors////////
			%li.dropdown.navbutton
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "invest_snapshot"}
					Investors
					%span.caret
				%ul.dropdown-menu{:role => "menu"}
					%li.lmenuitem.dropdown_listbutton= link_to "Investor Snapshot", controller: "public", action: "invest_snapshot"
					%li.lmenuitem.dropdown_listbutton= link_to "Financial Database", controller: "public", action: "financial_database"
					%li.lmenuitem.dropdown_listbutton= link_to "Events", controller: "public", action: "events"
					%li.lmenuitem.dropdown_listbutton= link_to "Presentations", controller: "public", action: "presentations"
					%li.lmenuitem.dropdown_listbutton= link_to "Annual Reports", controller: "public", action: "annual_reports"
					%li.lmenuitem.dropdown_listbutton= link_to "Services", controller: "public", action: "services"
					%li.lmenuitem.dropdown_listbutton= link_to "Links", controller: "public", action: "links"
					%li.lmenuitem.dropdown_listbutton= link_to "SAS TV", controller: "public", action: "sas_tv"
			///////Contact////////
			%li.dropdown.navbutton
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "invest_snapshot"}
					Contact Us
					%span.caret
				%ul.dropdown-menu{:role => "menu"}
					%li.lmenuitem.dropdown_listbutton= link_to "Contact Information", controller: "public", action: "invest_snapshot"
					%li.lmenuitem.dropdown_listbutton= link_to "Request More Info", controller: "public", action: "financial_database"
					%li.lmenuitem.dropdown_listbutton= link_to "Send Us a Message", controller: "public", action: "events"
					%li.lmenuitem.dropdown_listbutton= link_to "Feedback", controller: "public", action: "feedback"