!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "St. Andrew Goldoldfields Ltd.", :name => "description"}/
    %meta{:content => "vis.works", :name => "author"}/
    %title
      St. Andrew Goldfields Ltd.#{" | #{@page_title}" if @page_title}
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application" => true
    
    /%script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    /%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}


  %body
    .mainbox.nopad
      .container.nav.nopad
        = render :partial => 'layouts/navigation'
        .container.container-fluid.maincont.nopad
          %hr.greyhr.nopad
          = yield
        .clear
        .footer
  
