!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "St. Andrew Goldoldfields Ltd.", :name => "description"}/
    %meta{:content => "vis.works", :name => "author"}/
    %title
      St. Andrew Goldfields Ltd.#{" | #{@page_title}" if @page_title}
    %link{:href => "https://fonts.googleapis.com/css?family=Oswald:400,700,300", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"
    
    /%script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    /%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}


  %body.publicbody
    .mainbox.nopad
      .container.nav.nopad
        = render :partial => 'layouts/navigation'
    .container.maincont.nopad
      .clear
      = yield
      
    %footer.footer
      .footercontainer
        %ul.footerlist
          %li=link_to "Disclaimer", controller: "public", action: "disclaimer"
          %li=link_to "Privacy Policy", controller: "public", action: "privacy_policy"
          %li © 2015 ST ANDREW GOLDFIELDS LTD.
        .subscribeform.form-inline 
          =form_for [Subscriber.new()], :class => "form-inline" do |f|
            = f.text_field(:email , :size=> '20x1',:placeholder => "subscribe to our e-news")
            = submit_tag("ok", :class => 'subscribesubmit')
